@model SneakersListViewModel

<h1>@Model.CurrentCategory</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var sneakers in Model.Sneakers)
    {
       <partial name="_SneakersCard" model="sneakers" />
    }

</div>